header {
  background-image: url(../images/main_2529_image4.png);
  height: 200px;
  width: 100%;
  background-size: cover;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a1298d;
  color: black;
}

.img {
  width: 75px;
}
#container {
  width: 100%;
}
.Table {
  background-color: rgb(190, 68, 150);
  border-collapse: separate;
  width: 50%;
}
.Table2 {
  background-color: rgb(190, 68, 150);
  border-collapse: separate;
  width: 50%;
}
header,
#content,
footer {
  padding: 0 20px;
}
form > div {
  margin: 15px 0;
}
label {
  display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}
input[type="submit"] {
  margin: 10px auto;
  text-align: center;
  width: 100%;
  padding: 15px;
}
footer {
  border-top: 1px solid rgb(190, 51, 183);
  margin: 20px 10px 10px 0;
  clear: left;

  text-align: center;
  font-style: italic;
}
